/***********
 * General *
 ***********/

body {
  font-family: sans-serif;
  margin: 2em;
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  font-style: italic;
  color: #FFFFFF;
}



.grid-multiplier {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  background-color: #FFFFFF;
}
.defaultButton {  
	height: 72px;
	background-color: #999999; /* Dark Gray */
	border: 1px solid black;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.onButton {  
	height: 72px;
	background-color: #4CAF50; /* Green */
	border: 1px solid green;
	color: white;
	width: 100%;
	/*text-align: center;*/
	text-decoration: none;
	font-size: 16px;
	display: grid; 
	grid-template-columns: 80% 20%; 
	align-items: center;
}
.offButton {  
	height: 72px;
	background-color: #f44336; /* Red */
	border: 1px solid red;
	color: white;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	display: grid; 
	grid-template-columns: 80% 20%; 
	align-content: center;
}
.lockedButton {  
	height: 72px;
	background-color: #555555; /* Black */
	border: 1px solid black;
	color: white;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}
data {
  font-family: courier
}
.rTable { 
  display: table; 
  table-layout: fixed;
  width: 100%
}
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { 
  display: table-row-group; 
}
.rTableFoot { 
  display: table-footer-group; 
}
.rTableCell, .rTableHead { 
  font-family: sans-serif;
  display: table-cell; 
  text-align: right;
  width: 50%
}
.cTableCell, .cTableHead { 
  font-family: sans-serif;
  display: table-cell; 
  text-align: center;
  width: 28%
}
.lTableCell, .lTableHead { 
  font-family: sans-serif;
  display: table-cell; 
  text-align: left;
  width: 50%
}

/*******
 * Tab *
 *******/
 
/* Style the tab */
.tabMain {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%; 
	align-items: center;
	width: 100%;
	overflow: hidden;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}

/* Style the buttons inside the tab */
.tabMain button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabMain button:hover {
	color: #FFFFFF;
	background-color: #777777;
}

/* Create an active/current tablink class */
.tabMain button.active {
	color: #FFFFFF;
	background-color: #555555;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}